{% extends 'home/base_generic.html' %}
{% load format_filters %}

{% block content %}
<h2>Historial de Compras</h2>
{% if compras %}
    <ul class="list-group">
        {% for compra in compras %}
            <li class="list-group-item">
                <strong>Fecha:</strong> {{ compra.fecha|date:"j \d\e F \d\e Y \a \l\a\s H:i" }}<br>
                <strong>Total:</strong> ${{ compra.total|punto_miles }}<br>
                <ul>
                    {% for item in compra.items.all %}
                        <li style="display: flex; align-items: center; margin-top: 5px;">
                            <img src="{{ item.producto.imagen.url }}" alt="{{ item.producto.nombre }}" style="width: 60px; height: auto; margin-right: 10px;">
                            {{ item.producto.nombre }} x {{ item.cantidad }} - ${{ item.subtotal|punto_miles }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No has realizado compras aún.</p>
{% endif %}
{% endblock %}
